<html>

 <head>
    <title>
        Tridot Assignment
    </title>
    <style>
        body
        {
            text-align: center;
            margin-top:70px;
        }
        div
        {
            background-color:steelblue;
            padding:7px;
        }
        a
        {
            padding:10px;
            text-decoration: none;
            color:white;
        }
    </style>
 </head>
 <body>
    <div>
    <a href="/pi/">Add product Id</a>
    <a href="/li/">Add location Id</a>
    <a href="/pm/">Add product movement</a>
    <a href="/upi/">Edit product_id</a>
    <a href="/uli/">Edit location_id</a>
    <a href="/upm/">Edit product_movement</a>
    <a href="/v/">view product detail</a>
    </div>
      <h3>Product details</h3>
      ...........................................<br>        
            product Id : {{pi}}<br>
            Time: {{t}}<br>
            from_location: {{fl}}<br>
            to_location : {{tl}}<br>
            product: {{p}}<br>
            quantity : {{q}}<br>

        ............................................    


 </body>

</html>