<html>

 <head>
    <title>
        Tridot Assignment
    </title>
    <style>
        body
        {
            text-align: center;
            margin-top:70px;
        }
        div
        {
            background-color:steelblue;
            padding:7px;
        }
        a
        {
            padding:10px;
            text-decoration: none;
            color:white;
        }
    </style>
 </head>
 <body>
    <div>
    <a href="/pi/">Add product Id</a>
    <a href="/li/">Add location Id</a>
    <a href="/pm/">Add product movement</a>
    <a href="/uli/">Edit location_id</a>
    <a href="/upm/">Edit product_movement</a>
    <a href="/v/">view product detail</a>
    </div>
      <h3>update product Id</h3>
      {{r}}
      <form action="/update_pro_id/" method="post">
        {% csrf_token %}
        Enter the Current product id : <input type="number" name="product_id">
        Enter the Updated product_id : <input type="number" name="prdt_id">
        <input type="submit" value="Edit">
      </form>


 </body>

</html>